# Automatically normalize line endings
* text=auto

# Force LF for specific file types
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.sh text eol=lf

# Force CRLF for Windows-specific files
*.bat text eol=crlf
*.ps1 text eol=crlf
