/* Admin Container */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.admin-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
    text-align: center;
    font-size: 2rem;
    color: #1B263B;
}

/* Search Form */
.search-form {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.search-form input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 15px;
    border: none;
    background-color: #1B263B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #152033;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

.returning-guest {
    color: green;
    font-weight: bold;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.admin-table th, .admin-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-table th {
    background-color: #1B263B;
    color: white;
}

.reassign-btn {
    padding: 10px 15px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #1B263B;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #152033;
}

/* Back Link */
.back-link {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    color: #1B263B;
}

/* Responsive Table */
@media (max-width: 768px) {
    .admin-container{
        margin-top: -25px;
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .admin-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 1.1rem;
    }

    .search-form {
        flex-direction: column;
        align-items: center;
    }

    .search-form input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .pagination {
        font-size: 14px;
    }
}
