{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pick A Rooms{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Block for additional CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Navigation -->
    <header>
        <div class="logo">
            <a href="/">Pick-A-Rooms</a>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <p class="menu">Menu ^</p>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/checkin/">Check-In</a></li>
                <li><a href="/explore-manchester/">Explore Manchester</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/admin-page/">Admin Only</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="logout-btn">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="/admin-page/login/">Admin Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Confirmation Message -->
    {% if messages %}
        <ul id="confirmation-message">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <!-- Main content -->
    <div class="content-wrapper">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Pick-A-Rooms. <br>WebApp by Henry easybulb@gmail.com</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const confirmationMessage = document.getElementById("confirmation-message");
            if (confirmationMessage) {
                setTimeout(() => {
                    confirmationMessage.style.display = "none";
                }, 3000);  // Hide after 3 seconds
            }
        });
    </script>
    
</body>
</html>
