{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Guest Check-In{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/checkin/">Check-In</a></li>
                <li><a href="/explore-manchester/">Explore Manchester</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/admin-page/">Admin Only</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">
                                Logout
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="/admin-page/login/">Admin Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Flash Messages -->
    {% if messages %}
    <div id="confirmation-messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Pick-a-Rooms. WebApp built by Henry. Email easybulb@gmail.com</p>
    </footer>

</body>
</html>
