{% extends 'base.html' %}

{% block title %}Check-In{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Check-In</h1>
        {% if error %}
        <p style="color: red; ">{{ error }}</p>
        {% endif %}
        <form method="post" class="checkin-form">
            {% csrf_token %}
            <input type="text" name="phone_number" placeholder="Enter your phone number">
            <button type="submit">Check In</button>
        </form>
    </div>
    <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1738597703/pickaroomsbanner_rjtmav.png"
        alt="Luxury Hotel Room" class="hero-image">
</section>
{% endblock %}