{% extends 'base.html' %}

{% block title %}Home - Pick-A-Rooms{% endblock %}

{% block content %}

<!-- Hero Section with Search Input -->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Welcome, Your Stay Starts Here!</h1>
        <p>Enter your phone number to access your PIN, check-in guide, and all the details for a smooth experience</p>
        <form action="/checkin/" method="post" class="checkin-form">
            {% csrf_token %}
            <input type="text" name="phone_number" placeholder="Enter your phone number">
            <button type="submit">Check In</button>
        </form>
    </div>
    <img src="https://res.cloudinary.com/dkqpb7vwr/image/upload/v1738575427/a69tjq15bpsu6cr4t71q.png" alt="Luxury Hotel Room" class="hero-image">
</section>


{% endblock %}
